# Dependency directories
/node_modules
/.pnp
.pnp.js

# Compiled output
/dist/
/build/

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log
logs/

# Jest coverage
/coverage/

# env
utils/env.js
